.choice {
  border-top: 1px solid #ccc;
  transition: box-shadow 0.2s, background-color 0.2s;
  padding: 1.25rem 2rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  color: black;
  width: 100%;
  height: 100%;
  transition-duration: 100ms;
  cursor: pointer;
}

.choice:hover {
  background-color: var(--bg-color-choice-hover);
  color: white;
}
