.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.not-found-container h1,
.not-found-container p {
  margin-bottom: 20px;
}

.not-found-container a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #ef485c;
  padding: 0.5rem 1rem;
  border-radius: 0.4em;
  transition-duration: 200ms;
}

.not-found-container a:hover {
  transform: translateY(-0.2em);
}
