:root {
  --bg-color-header: #005c71;
  --bg-color-body: #eefcff;
  --bg-color-choice-hover: rgb(218, 103, 117);
  --height-header: 6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color-body);
  font-family: Helvetica, sans-serif;
  color: var(--color-text);
}
